---
title: Ingame.io
cssFile: home.css
jsFile: home.js
---
{{!
<div class="navbar navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="register-icon"></span>
    </button>
    <a class="logo" rel="home" href="#" title="Ingame.io">
        <img src="/img/logo.png">
    </a>
  </div>
  <div class="navbar-collapse collapse hidden">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Product</a></li>
      <li><a href="/developers">Developers</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/price">Price</a></li>

      <li class="right-corner"><a href="/login">Login<span class="login-icon"/></a></li>
      <li class="right-corner"><a href="/signup" class="violet-text">Register<span class="register-icon hidden-xs"/></a></li>
    </ul>
  </div>
</div>
}}

<div class="navbar navbar-static-top" role="navigation">
  <div class="navbar-header">
    <a class="logo" rel="home" href="#" title="Ingame.io">
        <img src="/img/logo.png">
    </a>
  </div>
</div>
<!-- Carousel
================================================== -->
<div id="home-carousel" class="carousel slide" data-ride="carousel" data-pause="none" data-interval="4000">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>
    <li data-target="#home-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item one active">
      <div class="carousel-caption">
        <img class="logo-white" src="/img/logo-white.png">
        <h1>The fastest<br/>way to improve</h1>
        <h5><a href="#" data-target="#video" data-video="//www.youtube.com/embed/yBJQRb3XMdc?showinfo=0&rel=0&autoplay=1"><img src="/img/play.png"/></a></h5>
        {{!
        <div class="description">
          <h6>A solid reward system it's a crucial piece in the engagement puzzle.</h6>
          <h6>It's an exciting tool that motivates people to go further while executing your organization plans.</h6>
        </div>
        }}
      </div>
    </div>
    <div class="item two">
      <div class="carousel-caption">
        <img class="logo-white" src="/img/logo-white.png">
        <h1>The fastest<br/>way to improve</h1>
        <h5><a href="#" data-target="#video" data-video="//www.youtube.com/embed/yBJQRb3XMdc?showinfo=0&rel=0&autoplay=1"><img src="/img/play.png"/></a></h5>
        {{!
        <div class="description">
          <h6>Is not about accumulating data and tracking activities.</h6>
          <h6>Measure means to understand your players and in consequence add sustainable value.</h6>
          <h6>The advanced data analytics it's allows you to focus on engineering and substance, not style.</h6>
        </div>
        }}
      </div>
    </div>
    <div class="item three">
      <div class="carousel-caption">
        <img class="logo-white" src="/img/logo-white.png">
        <h1>The fastest<br/>way to improve</h1>
        <h5><a href="#" data-target="#video" data-video="//www.youtube.com/embed/yBJQRb3XMdc?showinfo=0&rel=0&autoplay=1"><img src="/img/play.png"/></a></h5>
        {{!
        <div class="description">
          <h6>Your most important objective will be to empower your players, not manipulate them.</h6>
          <h6>Creates and design the best and effective experiences to boost your players abilities.</h6>
        </div>
        }}
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


<div id="features" class="wood">
  <div class="container">

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-left">
        <h1>Reward</h1>
        <p class="description">
          <!--A solid reward system it's a crucial piece in the engagement puzzle.<br/>
          It's an exciting tool that motivates people to go further while executing your organization plans.-->
          Motivate people to go further while executing your organization plans.
        </p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-left">
        <h1>Measure</h1>
        <p class="description">
          <!--Is not about accumulating data and tracking activities.<br/>
          Measure means to understand your players and in consequence add sustainable value.<br/>
          The advanced data analytics it's allows you to focus on engineering and substance, not style.-->
          Advanced data analytics to focus on engineering and substance, not style.
        </p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-left">
        <h1>Improve</h1>
        <p class="description">
          <!--Your most important objective will be to empower your players, not manipulate them.<br/>
          Creates and design the best and effective experiences to boost your players abilities.-->
          Create and design effective experiences to boost your players abilities.
        </p>
      </div>

  </div>
</div>

<div id="mobile" class="container-fluid">
  <div class="container">
    <div class="background"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-6 col-md-offset-6 col-sm-offset-6">
      <div class="header">
        <h1>Focus on the mechanics and dynamics design,<br/>we cover the rest.</h1>
      </div>
      <div class="clearfix"></div>

      <div class="description hidden-sm hidden-xs">
        <p>The best Gamification experiences are those that balance clever rules with-in a smart design and game settings.</p>
        <p>This flexible, fast, simple and modular tool will allow you improve and scale as your organization grows.</p>
      </div>
    </div>
  </div>

</div>

<div id="footer" class="container-fluid">
  <div class="centered-box violet email-input">
    <form action="http://ingame.createsend.com/t/t/s/iyjyv/" method="post">
      <button href="#" type="submit" class="pull-right white arrow"></button>
      <input name="cm-iyjyv-iyjyv" type="email" class="transparent" placeholder="Signup for early access" spellcheck="false">
    </form>
  </div>
</div>


<div id="video" class="modal">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" showinfo="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

{{!
<div class="container-fluid features">
  <div class="container">
    <div class="content">

      <div class="header">
        <h1><b>Focus on the mechanics</b></h1>
        <h1><b>and dynamics design,</b></h1>
        <h1><b>we cover the rest.<b></h1>
      </div>
      <div class="clearfix"></div>

      <div class="description hidden-xs">
        <h5>The best Gamification experiences are those that balance clever rules with-in a smart design and game settings.</h5>
        <h5>This flexible, fast, simple and modular tool will allow you improve and scale as your organization grows.</h5>
      </div>
    </div>
  </div>
  <a href="#" class="centered-box all-features">
    <button class="pull-right white arrow"></button>
    <h3>View all features</h3>
  </a>
</div>

<div class="footer">
  <div class="container-fluid disclaimer">
    <div class="centered-box legend">
      <img src="/img/logo-white.png" class="logo-white pull-right">
      <h6>No credit card needed</h6>
      <h6>All plans have a 30 days trial</h6>
    </div>
  </div>

  <div class="centered-box violet email-input">
    <form action="http://ingame.createsend.com/t/t/s/iyjyv/" method="post" class="inline">
      <button href="#" type="submit" class="pull-right white arrow"></button>
      <h3>
        <input name="cm-iyjyv-iyjyv" type="email" class="transparent" placeholder="Enter your email and start creating rules" spellcheck="false">
      </h3>
    </form>
  </div>

  <div class="container-fluid info">
    <div class="centered-box items">
      <footer>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3"><h4><a class="disabled">Jobs</a></h4></div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3"><h4><a href="/about-us">About Us</a></h4></div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3"><h4><a class="disabled">Blog</a></h4></div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><h4><a class="hidden-xs" href="#">Social Networks</a></h4></div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3"><h4><a class="disabled">Press</a></h4></div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3"><h4><a class="disabled">User Cases</a></h4></div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3"><h4><a class="disabled">API</a></h4></div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3"><h4><a href="#">Game Templates</a></h4></div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3"><h4><a href="/contact">Contact</a></h4></div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3"><h4><a href="#">Privacy</a></h4></div>
        </div>

        <span class="signature violet hide"></span>
      </footer>
    </div>

  </div>
</div>
}}