---
title: Ingame.io
cssFile: home.css
---
{{!
<div class="navbar navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="register-icon"></span>
    </button>
    <a class="logo" rel="home" href="#" title="Ingame.io">
        <img src="/img/logo.png">
    </a>
  </div>
  <div class="navbar-collapse collapse hidden">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Product</a></li>
      <li><a href="/developers">Developers</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/price">Price</a></li>

      <li class="right-corner"><a href="/login">Login<span class="login-icon"/></a></li>
      <li class="right-corner"><a href="/signup" class="violet-text">Register<span class="register-icon hidden-xs"/></a></li>
    </ul>
  </div>
</div>
}}

<div class="navbar navbar-static-top" role="navigation">
  <div class="navbar-header">
    <a class="logo" rel="home" href="/" title="Ingame.io">
        <img src="/img/logo.png">
    </a>
  </div>
</div>
<!-- Carousel
================================================== -->
<div id="home-carousel" class="carousel slide" data-ride="carousel" data-pause="none" data-interval="4000">
  <div class="carousel-caption container">
    <img class="logo-white" src="/img/logo-white.png">
    <h1>Thank you!</h1>
    <h3>You've been added to our list and will hear from us soon.</h3>
  </div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>
    <li data-target="#home-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item one active"></div>
    <div class="item two"></div>
    <div class="item three"></div>
  </div>

  <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>