@media (min-width: 768px) {
  .centered-box.violet {
    height: 40px;
  }

  .centered-box.violet h3 {
    margin-top: 10px;
    margin-left: 18px;
    font-size: 1em;
  }

  .arrow {
    width: 30px;
    height: 11px;
    margin-right: 11px;
  }

  .violet .arrow {
    margin-top: 15px;
  }

  .arrow.white {
    background-size: 30px 11px;
  }

  h6 {
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 1.1;
  }

  .logo-white {
    width: 80px !important;
    height: auto !important;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    padding-top: 3px;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    padding-top: 3px;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    padding-top: 3px;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    padding-top: 3px;
  }

    /* NAVBAR
  -------------------------------------------------- */

  .navbar .logo img {
    width: 49px;
    height: 48px;
  }
    /* CAROUSEL
  -------------------------------------------------- */

  .carousel {
    min-height: 240px;

    .item {
      min-height: 240px;
    }

    h1 {
      font-size: 3em;
    }

    .carousel-caption {
      top: 25%;
      margin-top: 80px;
    }

    .carousel-caption {
      left: 25%;
      right: 20%;
    }

    .carousel-indicators {
      left: 85%;
      width: 110px;
      margin-left: 0;
    }

    .carousel-indicators li {
      margin: 1px !important;
      margin-left: 20px !important;
      width: 8px;
      height: 8px;

      background-color: #888;
      border: none;

      &.active {
        width: 8px;
        height: 8px;
      }
    }

    .logo-white {
      margin-top: 5px;
      margin-left: 2px;
    }
  }

    /* FEATURES DIV
  -------------------------------------------------- */

  #video {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .video-container {
      margin: 0;
    }
  }

  #features {
    height: 400px;

    .container {
      .feature-icon {
        width: auto;
        height: 67px;

        &.badge-star {
          height: 45px;
          margin: 15px 5px;
        }
      }
    }
  }

  #mobile {
    height: 600px;

    h1 {
      margin: 2px auto;
    }

    .container {
      padding-top: 50px;
      padding-bottom: 50px;

      .screen-cards {
        width: 400px;
      }
    }
  }

  /* WOOD DIV
  -------------------------------------------------- */

  .wood {
    height: 185px;
  }

}