@media (min-width: 992px) and (max-width: 1199px){

    /* CAROUSEL
  -------------------------------------------------- */

  .carousel {
    min-height: 400px;

    .item {
      min-height: 400px;
    }

    .carousel-indicators {
      left: 85%;
      width: 140px;
      margin-left: 0;
    }

    .carousel-indicators li {
      margin: 1px !important;
      margin-left: 24px !important;
      width: 9px;
      height: 9px;

      &.active {
        width: 9px;
        height: 9px;
      }
    }
  }

  /* FEATURES DIV
  -------------------------------------------------- */

  #features {

    .container {
      .feature-icon {
        width: auto;
        height: 100px;

        &.badge-star {
          height: 66px;
          margin: 17px 5px;
        }
      }
    }
  }

  #mobile {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;

      .screen-cards {
        width: 400px;
      }
    }
  }
}