@media (min-width: 768px) {
  .centered-box.violet {
    height: 40px;
  }

  .centered-box.violet h3 {
    margin-top: 10px;
    margin-left: 18px;
    font-size: 1em;
  }

  .centered-box.all-features {
    height: 40px;
  }

  .centered-box.all-features h3 {
    margin-top: 8px;
    margin-left: 18px;
    font-size: 1.2em;
  }

  .arrow {
    width: 30px;
    height: 11px;
    margin-right: 11px;
  }

  .violet .arrow {
    margin-top: 15px;
  }

  .all-features .arrow {
    margin-top: 13px;
  }

  .arrow.white {
    background-size: 30px 11px;
  }

  h6 {
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 1.1;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    padding-top: 3px;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    padding-top: 3px;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    padding-top: 3px;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    padding-top: 3px;
  }

    /* NAVBAR
  -------------------------------------------------- */

  .navbar .logo img {
    width: 49px;
    height: 48px;
  }

  .navbar .navbar-collapse {
    padding-left: 49px;
  }

  .navbar-collapse .navbar-nav {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
  }

  .navbar-collapse .navbar-nav li {
    padding-right: 15px;
    padding-left: 5px;
  }

  .navbar {
    min-height: 49px;
    height: 49px;
    background: transparent;
  }

  .navbar-nav a {
    background: transparent !important;
    font-weight: normal;
    font-size: 1em;
    padding: 10px !important;
  }

  .navbar-inner {
    background: transparent;
  }

  .navbar li.right-corner {
    padding-left: 3px;
    padding-right: 2px;
    margin-top: 0px;
  }

  .navbar .login-icon {
    width: 18px;
    height: 19px;
    margin-left: 5px;
    background-position-y: -3px;
    background-size: 18px 19px;
  }

  .navbar .register-icon {
    width: 20px;
    height: 18px;
    margin-left: 5px;
    background-position-y: 0px;
    background-size: 20px 15px;
  }

    /* CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    height: 282px;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 282px;
  }

  .carousel-caption {
    left: 17%;
    right: 17%;
    top: 25%;
  }

  .carousel h1 {
    font-size: 3em;
  }

  .carousel-caption p {
    margin-bottom: 0px;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.4;
  }

  .carousel-caption h6 {
    margin: 0;
  }

  .carousel-caption .description {
    width: 50%;
    margin-top: 7px;
  }

  .carousel-indicators {
    left: 85%;
    width: 110px;
    margin-left: 0;
  }

  .carousel-indicators li {
    margin: 1px !important;
    margin-left: 20px !important;
    background-color: #888;
    border: none;
    width: 8px;
    height: 8px;
  }

  .carousel-indicators li.active {
    width: 8px;
    height: 8px;
  }

  .logo-white {
    width: 80px;
    height: auto;
  }

  .carousel .logo-white {
    margin-top: 5px;
    margin-left: 2px;
  }

  /* WOOD DIV
  -------------------------------------------------- */

  .wood {
    height: 185px;
  }

  /* FEATURES DIV
  -------------------------------------------------- */

  .features {
    background-size: 100% auto;
    height: 406px;
  }

  .features h1 {
    font-size: 3em;
    margin: 0;
  }

  .features .content {
    position: absolute;
    left: 17%;
    right: 17%;
    top: 10%;
    z-index: 10;
  }

  .features .content .description {
    width: 60%;
  }

  .features .content h4 {
    margin: 0;
  }

  .features .all-features {
    border: 2px solid;
    top: 73%;
  }

  /* FOOTER
  -------------------------------------------------- */

  .footer .email-input {
    margin-top: 60px;
  }

  .disclaimer {
    height: 80px;
  }

  .disclaimer .legend {
    padding-top: 17px;
  }

  .disclaimer .legend p {
    margin: 0;
  }

  .info {
    height: 200px;
  }

  .info .items {
    padding-top: 30px;
  }

  .info .items h4 {
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .info .signature {
    margin-top: 15px;
  }

}