@media (min-width: 1200px) {
  .centered-box.violet {
    height: 68px;
  }

  .centered-box.violet h3 {
    margin-top: 23px;
    margin-left: 35px;
    font-size: 1.3em;
  }

  .arrow {
    width: 42px;
    height: 13px;
    margin-right: 15px;
  }

  .violet .arrow {
    margin-top: 29px;
  }

  .arrow.white {
    background-size: 42px 13px;
  }

  h6 {
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 1.1;
  }

  .logo-white {
    width: 150px !important;
    height: auto !important;
  }

    /* NAVBAR
  -------------------------------------------------- */

  .navbar .logo img {
    width: 78px;
    height: 76px;
  }

    /* CAROUSEL
  -------------------------------------------------- */

  .carousel {
    min-height: 500px;

    .item {
      min-height: 500px;
    }

    h1 {
      font-size: 5em;
    }

    .carousel-caption {
      top: 25%;
      margin-top: 150px;
    }

    .carousel-indicators {
      left: 85%;
      width: 180px;
      margin-left: 0;
    }

    .carousel-indicators li {
      margin: 1px !important;
      margin-left: 30px !important;
      width: 10px;
      height: 10px;

      &.active {
        width: 10px;
        height: 10px;
      }
    }

    .logo-white {
      margin: 10px 5px;
    }
  }



  /* FEATURES DIV
  -------------------------------------------------- */

  #video {

    .container {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .video-container {
      margin: 0;
    }
  }

  #features {
    height: 300px;

    .container {
      .feature-icon {
        width: auto;
        height: 100px;

        &.badge-star {
          height: 66px;
          margin: 17px 5px;
        }
      }
    }
  }

  #mobile {
    height: 600px;

    h1 {
      margin: 2px auto;
    }

    .container {
      padding-top: 50px;
      padding-bottom: 50px;

      .screen-cards {
        width: 800px;
      }
    }
  }

  /* WOOD DIV
  -------------------------------------------------- */

  .wood {
    height: 290px;
  }
}
