@media (min-width: 1200px) and (max-width: 1599px) {

    /* CAROUSEL
  -------------------------------------------------- */

  .carousel {
    min-height: 500px;

    .item {
      min-height: 500px;
    }

    .carousel-indicators {
      left: 85%;
      width: 180px;
      margin-left: 0;
    }

    .carousel-indicators li {
      margin: 1px !important;
      margin-left: 30px !important;
      width: 10px;
      height: 10px;

      &.active {
        width: 10px;
        height: 10px;
      }
    }
  }



  /* FEATURES DIV
  -------------------------------------------------- */

  #mobile .screen-cards {
    width: 800px;
  }
}
