@media (min-width: 1600px) {

    /* CAROUSEL
  -------------------------------------------------- */

  .carousel {
    min-height: 500px;

    .item {
      min-height: 500px;
    }

    h1 {
      font-size: 5em;
    }

    .carousel-indicators {
      left: 85%;
      width: 180px;
      margin-left: 0;
    }

    .carousel-indicators li {
      margin: 1px !important;
      margin-left: 30px !important;
      width: 10px;
      height: 10px;

      &.active {
        width: 10px;
        height: 10px;
      }
    }

    .logo-white {
      margin: 10px 5px;
    }
  }



  /* FEATURES DIV
  -------------------------------------------------- */

  #features {

    .container {
      .feature-icon {
        width: auto;
        height: 100px;

        &.badge-star {
          height: 66px;
          margin: 17px 5px;
        }
      }
    }
  }

  #mobile {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;

      .screen-cards {
        width: 800px;
      }
    }
  }
}