/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #fff;
}

body h1, h2, h3, h4, h5, h6, p {
  text-shadow: none;
}

.container-fluid {
  padding: 0;
}

.white.arrow {
  background: url('/img/arrow-white.png');
  background-repeat: no-repeat !important;
}

.signature {
  background: url('/img/logo-signatures.png');
  background-repeat: no-repeat;
  width: 45px !important;
  height: 45px !important;
  background-size: 240px auto;
  display: inline-block;
}

.signature.violet {
  background-position: -45px 0px;
}

.signature.lightblue {
  background-position: -96px 0px;
}

.signature.blue {
  background-position: -148px 0px;
}

.signature.black {
  background-position: -199px 0px;
}

.centered-box {
  width: 66%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.centered-box.violet {
  background-color: rgb(97,19,151);
}

.violet-text {
  color: rgb(97,19,151) !important;
}

input.transparent {
  background-color: rgba(0,0,0,0) !important;
  width: 80%;

  outline: none;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */

::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}
/* NAVBAR
-------------------------------------------------- */

.navbar {
  position: absolute;
  width: 100%;
}

.navbar-nav a {
  font-weight: bold;
  font-size: 1.3em;
  color: #fff;
}

.navbar .navbar-nav {
  width: 100%;
}

.navbar-brand {
  padding: 0;
}

.navbar li.right-corner {
  float: right !important;
}

.navbar .login-icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url('/img/login-icon.png');
  background-repeat: no-repeat;
}

.navbar .register-icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url('/img/edge-icon.png');
  background-repeat: no-repeat;
}

/* CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.carousel-inner > .item {
  background-color: rgb(73,147,150);
}

.carousel .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(91, 182, 185, .81);
  z-index: 1;
}

.carousel h1 {
  margin: 0;
}

.carousel .carousel-caption {
  text-align: left;
}

.carousel .carousel-control {
  z-index: 2;
  display: none;
}

.carousel-indicators li {
  background-color: #fff;
  border: none;
}

.carousel-indicators li.active {
  background-color: rgb(97,19,151);
}

/* WOOD DIV
-------------------------------------------------- */

.wood {
  position: relative;
  background-image: url('/img/wood.png');
}

/* FEATURES DIV
-------------------------------------------------- */

.features {
  position: relative;
  padding: 0;
  background-image: url('/img/features.png');
  background-repeat: no-repeat;
  background-color: rgb(17,32,119);
}

.features h1 {
  margin: 0;
}

.features .content {
  position: absolute;
  left: 17%;
  top: 10%;
  z-index: 1;
}

.features .content h3 {
  margin: 0;
}

.features .all-features {
  z-index: 1;
  background: transparent;
  border: 3px solid;
}

/* FOOTER
-------------------------------------------------- */
.footer {
  position: relative;
}

.footer .email-input {
  z-index: 1;
}

.disclaimer {
  position: relative;
  background-color: rgba(0,0,0,.5);
}

.info {
  position: relative;
  background-color: rgb(0,0,0);
}

.info .items {
  color: rgb(51,51,51);
}
