@media (max-width: 768px) {
  .centered-box.violet {
    height: 20px;
  }

  .centered-box.violet h3 {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1.1em;
  }

  .centered-box.all-features {
    height: 20px;
  }

  .centered-box.all-features h3 {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1.2em;
  }

  .arrow {
    width: 15px;
    height: 6px;
    margin-right: 7px;
  }

  .violet .arrow {
    margin-top: 7px;
  }

  .all-features .arrow {
    margin-top: 7px;
  }

  .arrow.white {
    background-size: 15px 6px;
  }

    /* NAVBAR
  -------------------------------------------------- */

  .navbar .logo img {
    width: 46px;
    height: 45px;
  }

  .navbar .navbar-collapse {
    padding-left: 46px;
  }

  .navbar-collapse .navbar-nav {
    padding-left: 8px;
    padding-right: 8px;
  }

  .navbar-collapse .navbar-nav li {
    padding-right: 12px;
  }

  .navbar {
    min-height: 46px;
    height: 45px;
    /*background: transparent;*/
  }

  .navbar-nav a {
    /*background: transparent !important;*/
    font-size: 1.3em;
    font-weight: normal;
  }

  .navbar-inner {
    /*background: transparent;*/
  }

  .navbar li.right-corner {
    padding-left: 5px;
    margin-top: 0px;
  }

  .navbar .login-icon {
    width: 18px;
    height: 19px;
    margin-left: 5px;
    background-position-y: -3px;
    background-size: 18px 19px;
  }

  .navbar .register-icon {
    width: 20px;
    height: 18px;
    margin-left: 5px;
    background-position-y: 0px;
    background-size: 20px 15px;
  }

    /* CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    height: 200px;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 200px;
  }

  .carousel-inner > .item > img {
    height: 200px;
  }

  .carousel-caption {
    top: 20%;
    left: 17%;
  }

  .carousel h1 {
    font-size: 1.6em;
  }

  .carousel p {
    font-size: 0.65em;
  }

  .carousel-indicators {
    display: none;
  }

  .carousel .carousel-control {
    display: block;
  }

  .logo-white {
    width: 60px;
    height: auto;
  }

  /* WOOD DIV
  -------------------------------------------------- */

  .wood {
    height: 120px;
  }

  /* FEATURES DIV
  -------------------------------------------------- */

  .features {
    background-size: 100% auto;
    height: 240px;
  }

  .features h1 {
    font-size: 1.6em;
    margin: 0;
  }

  .features .content {
    position: absolute;
    left: 17%;
    top: 10%;
    z-index: 10;
  }

  .features .content .description {
    width: 100%;
  }

  .features .content h4 {
    margin: 0;
  }

  .features .all-features {
    top: 73%;
  }

  /* FOOTER
  -------------------------------------------------- */

  .footer .email-input {
    margin-top: 50px;
  }

  .disclaimer {
    height: 70px;
  }

  .disclaimer .legend {
    padding-top: 5px;
  }

  .info {
    height: 200px;
  }

  .info .items {
    padding-top: 30px;
  }

  .info .items h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 5px;
  }

}